article {
  @apply text-Base-400 leading-Base-500;
}

/* heading */
article {
  & h1, & h2, & h3, & h4, & h5, & h6 {
    @apply break-words;
    @apply mt-XXL mb-L;
    @apply font-normal;
    line-height: 1.25;

    & > a {
      @apply hidden!;
      font-size: 0.8em;
      & > span.icon {
        @apply inline-block ml-XS;
        @apply i-fluent:link-multiple-16-regular;
      }
    }

    &:hover > a {
      @apply inline!;
    }

    &:target {
      @apply pt-60 mt-[-60];
      @apply <sm:pt-120 <sm:mt-[-120];
    }
  }

  & h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
  }

  & h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
  }

  & h3 {
    font-size: 1.25em;
  }

  & h4 {
    font-size: 1em;
  }

  & h5 {
    font-size: .875em;
  }

  & h6 {
    font-size: .85em;
  }
}

/* p */
article {
  & p {
    @apply mt-0 mb-L;
  }

  & b, & strong {
    @apply font-semibold;
  }
}

/* hr */
article {
  & hr {
    @apply h-3 p-0 mx-0 my-XXL border-none bg-NeutralBackground6 rounded-Medium;
  }
}

/* sup */
article {
  & sup > a[data-footnote-ref]::before {
    content: "[";
  }
  & sup > a[data-footnote-ref]::after {
    content: "]";
  }
}

/* list ul & ol */
article {
  & ol, & ul {
    @apply mt-0 mb-L pl-2em;

    & ol, & ul {
      @apply m-0;
    }
  }


  & ol {
    list-style: decimal;
  }

  & ul {
    list-style: disc;
  }

  & ol, & ul {
    & ol {
      list-style-type: lower-roman;
    }
    & ul {
      list-style-type: circle;
    }
  }

  & ol, & ul {
    & ol, & ul {
      & ol {
        list-style-type: lower-alpha;
      }
      & ul {
        list-style-type: square;
      }
    }
  }
}

/* blockquote */
article {
  & blockquote {
    @apply mx-0 mt-0 mb-L p-L;

    border-left: 3px solid;
    @apply bg-BrandBackground2;
    @apply border-BrandStroke1 border-l-3 rounded-Medium shadow-Normal-2;

    & p {
      margin: 0;
    }
  }
}

/* math */
article {
  .katex-display > .katex {
    @apply <sm:whitespace-normal;
  }
}

/* code */
article {
  /* token 使用主题颜色 */
  /* 我们使用自定义背景色，所以下面没有写背景色 */
  & [data-rehype-pretty-code-figure] code span {
    /*noinspection CssUnresolvedCustomProperty*/
    .light & {
      color: var(--shiki-light);
      /*background: var(--shiki-light-bg);*/
      font-weight: var(--shiki-light-font-weight);
    }
    /*noinspection CssUnresolvedCustomProperty*/
    .dark & {
      color: var(--shiki-dark);
      /*background: var(--shiki-dark-bg);*/
      font-weight: var(--shiki-dark-font-weight);
    }
  }

  /* 行内代码 */
  & span[data-rehype-pretty-code-figure] {
    & code {
      @apply m-0 px-5 py-3;
      @apply rounded-Medium shadow-Normal-2;
      @apply light:bg-[#f6f8fa] dark:bg-[#212128];
      @apply border-NeutralStroke2 border-solid border-1;
      @apply align-middle whitespace-space;
      @apply text-Base-300;
      /*font-size: 90%;*/
    }
  }

  /* 块代码 */
  & figure[data-rehype-pretty-code-figure] {
    @apply mx-0 mt-0 mb-L relative rounded-Medium; /* margin 注意有 caption 的特殊情况 */
    @apply shadow-Normal-2 sm:shadow-Normal-4;

    /* 块代码标题 */
    & div[data-rehype-pretty-code-title],
    & figcaption[data-rehype-pretty-code-title] {
      @apply light:text-[#3e4042] dark:text-[#e4e4e7];
      @apply light:bg-[#e2e4e6] dark:bg-[#3f3f46];
      @apply px-M py-S rounded-t-Medium;
      @apply text-Base-300 leading-Base-300 font-semibold;

      &:after {
        content: attr(data-language);
        @apply text-gray float-right;
      }

      & + pre {
        @apply rounded-t-none!;

        &:before {
          @apply top-36;
        }

        &:after {
          @apply hidden;
        }
      }
    }

    & pre {
      @apply m-0 px-0 py-M overflow-x-auto;
      @apply light:bg-[#f6f8fa] dark:bg-[#212128];
      @apply text-Base-300 leading-Base-400 font-normal; /* 代码行高大一些 */
      @apply rounded-Medium; /* 不用考虑有标题或 Caption 的问题，看不出来 */

      &:before {
        content: "";
        @apply absolute left-0 top-0 bottom-6; /* 避让底部滚动条 */
        @apply w-48 glass;
      }

      &:after {
        content: attr(data-language);
        @apply absolute top-S right-L px-S py-XS text-gray glass rounded-Medium;
      }

      & code {
        counter-reset: line;

        & > span[data-line] {
          /* min-w-0 为了防止 span 行撑开父元素，没有找到更好的办法 */
          @apply pl-48 pr-L min-w-0;

          &::before {
            counter-increment: line;
            content: counter(line);
            @apply absolute left-0 inline-block;
            @apply w-32 pr-16 text-right text-gray;
          }

          &[data-highlighted-line] {
            /* 高亮行 */
            @apply light:bg-[#e8eaf0] dark:bg-[#32323f];
          }

          & > mark[data-highlighted-chars] {
            /* 高亮词 */
            @apply rounded-Medium;
            @apply light:bg-[#dee0e8] dark:bg-[#393942];
            .light & {
              box-shadow: 0 0 2px 2px #dee0e8;
            }
            .dark & {
              box-shadow: 0 0 2px 2px #393942;
            }
          }
        }
      }

    }

    /* 块代码 caption */
    &:has(figcaption[data-rehype-pretty-code-caption]) {
      /* figure 的阴影不应该包括 caption，所以这里把 caption 变成 absolute，并用 margin 撑开 */
      @apply mb-44px!; /* L + 8 + 20 = 44 */
    }

    & figcaption[data-rehype-pretty-code-caption] {
      @apply absolute bottom-[-28px] left-0 right-0;
      @apply mt-S text-center text-gray text-Base-300 leading-Base-300; /* mt-8 h-20 */
    }
  }
}

/* img */
article {
  & p img, & figure img {
    @apply max-w-648 h-auto bg-transparent; /* 透明图片背景与文档一致 */
    @apply rounded-Medium shadow-Normal-2 sm:shadow-Normal-4;
  }

  /* 图片块 */
  & figure[data-rehype-img-figure] {
    @apply m-0 mx-0 mt-0 mb-L;
    @apply text-center;
    @apply relative;
    & > img {
      @apply block mx-auto;
    }
    & > figcaption[data-rehype-img-figure-caption] {
      @apply mt-S text-gray text-Base-300 leading-Base-300;
    }
  }

  /* 行内图片 */
  & span[data-rehype-img-figure] {
    @apply relative;
    & > span[data-rehype-img-figure-caption] {
      @apply absolute bottom-0 left-0 right-0 glass rounded-b-Medium;
      @apply p-S text-center text-white text-Base-300 leading-Base-300;
      @apply hidden;
    }
    &:hover {
      & > img {
        filter: brightness(50%);
      }
      & > span[data-rehype-img-figure-caption] {
        @apply block;
      }
    }
  }
}

/* table */
article {
  & table {
    @apply table-fixed;
    @apply mx-auto mt-0 mb-L table-fixed max-w-full;
    /* 做不了 */
    /*@apply shadow-Normal-2 sm:shadow-Normal-4;*/
    @apply block align-middle overflow-auto;
    @apply rounded-Medium  border-spacing-0 border-collapse;

    & thead {
      @apply table-header-group align-middle;
    }

    & tbody {
      @apply table-row-group align-middle;
    }

    &:has(thead) > thead > tr,
    &:has(thead) > tbody > tr:nth-child(even),
    &:not(:has(thead)) tr:nth-child(odd) {
      @apply bg-SubtleBackgroundHover;
    }

    & th, & td {
      @apply px-12 py-6;
      @apply border-NeutralStroke2 border-solid border-1;
    }
  }
}

/* checkbox list */
article {
  & .contains-task-list {
    list-style: none !important;

    & input[type="checkbox"] {
      margin: 0 0.2em 0.25em -1.4em; /* github */
      @apply w-16 h-16 align-middle;
    }
  }
}

/* kbd */
article {
  & kbd {
    @apply inline-block px-5 py-3 text-Base-200 font-mono;
    @apply align-middle whitespace-normal;
    @apply bg-SubtleBackgroundHover;
    @apply border-NeutralStroke2 border-solid border-1;
    @apply rounded-Medium shadow-Normal-2;
  }
}